@charset "UTF-8";
/*----------- report.jsp ----------------*/
/*body 전체 영역*/
body{
	position: absolute;
  	top: 25%;
  	left: 40%;
}
/*제목*/
h2{
	text-align: center;
	padding-bottom: 30px;
}

/*radio 버튼 */
.select input[type=radio]{
    display: none;
    border-radius: 20px;
    gap: 20px;
}
/*라디오 버튼과 labal 모두*/
.select input[type=radio]+label{
    display: inline-block;
    cursor: pointer;
    height: 60px;
    width: 350px;
    border: 1px solid #333;
    line-height: 60px;
    text-align: center;
    font-weight:bold;
    font-size:20px;
}


/*기본 값*/
.select input[type=radio]+label{
    background-color: #fff;
    color: #333;
}
/*선택 시*/
.select input[type=radio]:checked+label{
    background-color: #333;
    color: #fff;
}
/*신고 버튼*/
.repo input{
	position: absolute;
    width : 200px;
    height : 40px;
	top: 120%;
  	left: 23%;
}

.repo input:hover {
	width : 200px;
    height : 40px;
}
/*----------- report.jsp 끝----------------*/

/*----------- reportSussess.jsp ----------------*/






















